body {
  background: linear-gradient(to right, #4b79a1, #283e51);
  color: white;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}

.container-fluid {
  padding: 0 15px;
  box-sizing: border-box;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-top: 20px;
  transform: translateZ(0);
  perspective: 1000px;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  z-index: -1;
  transform: rotateX(0deg) rotateY(0deg);
  filter: blur(10px);
}
p {
  color: #fff;
  font-weight: bold;
}
h5 {
  color: #fff;
  font-weight: bold;
}
button {
  color: #fff;
  font-weight: bold;
}

div {
  color: #fff;
  font-weight: bold;
}

#weatherForm .input-group {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#weatherForm input {
  border-radius: 30px 0 0 30px;
  border: none;
  padding: 10px 20px;
  height: 5vh;
}

#weatherForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 30px 30px 0;
  border: none;
  margin-left: 0.5vw;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  height: 5vh;
}

#getLocationButton {
  border: none;
  margin-left: 0.5vw;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
}

#burgerMenu button {
  background-color: #007bff;
  border-radius: 30px;
}

#weatherResult {
  display: none;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#weatherResult.active {
  display: block;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 3vw;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.weather-details .detail {
  flex: 1 1 45%;
  margin: 10px;
}

.weather-details .detail img {
  vertical-align: middle;
  margin-right: 10px;
}

.weather-details .detail span {
  font-size: 1.2rem;
  font-weight: bold;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel .day {
  flex: 0 0 50%;
  max-width: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 7vw;
  font-weight: bold;
  z-index: 1;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

#savedCities,
#burgerMenu {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#savedCities h5,
#burgerMenu button {
  text-align: center;
  margin-bottom: 20px;
  color: #d9d6d6;
}

#cityList button {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cityList button .delete-icon {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

#cityListMobile {
  display: none;
}

@media (max-width: 768px) {
  .carousel .day {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #cityListMobile {
    display: block;
  }
}

@media (max-width: 480px) {
  .carousel .day {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card-title {
    font-size: 7vw;
  }
}

#savedCities,
#burgerMenu {
  height: 85%;
  margin-top: 14vh;
  @media (max-width: 480px) {
    height: auto;
    margin-top: 3vh;
  }
}
